.PostCardContainer {
    height: 219px;
    border-radius: 16px;
    margin-top: 40px;
    margin-bottom: 32px;
    padding: 16px;
    margin: 24px;
    position: relative;
    box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
}

.PostCardContainer:nth-child(2n-1) {
    background: radial-gradient(154.3% 180.91% at -31.03% 204.3%, #49E8DE 0%, rgba(75, 232, 222, 0.989583) 0.01%, rgba(249, 249, 249, 0) 100%), #F9F9F9;
}

.PostCardContainer:nth-child(2n) {
    background: radial-gradient(152.54% 228.52% at 148.46% -52.54%, #D9B4FF 0%, rgba(224, 224, 224, 0) 100%), #F9F9F9;
}

.ExpandIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    color: #949494;
}