.PostDetailHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  color: #555555;
}

.BackContainer {
  display: flex;
  align-items: center;
}
