.PostDetailHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 24px;
    color: #555555;

}

.BackContainer {
    display: flex;
    align-items: center;
}