.PostHeaderContainer {
    display: flex;
    flex-direction: column;
}

.UpperContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LeftContainer {
    display: flex;
    flex-direction: column;
}

.TitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 13px;
}

.TitleContainer h1 {
    margin: 0 0 0 15px;
    font-size: 24px;
    line-height: 22.15px;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.LocationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LocationContainer p {
    margin: 0 0 0 15px;
    font-size: 16px;
    line-height: 14.77px;
}

.RightContainer {
    display: flex;
    flex-direction: column;
}

.IconContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.MoreHorizIcon {
    margin-left: 15px;
}

.BelowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 27px;
}

.NameContainer {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.NameContainer p {
    margin: 0;
}

.PostAuthorText {
    font-size: 12px;
    line-height: 11.08px;
}

.CreatedAtText {
    color: #8F8F8F;
    font-size: 10px;
    line-height: 9.23px;
}

.PostCardTextContainer {
    margin-top: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.PostCardTextContainer p {
    margin: 0;
    font-size: 12px;
    line-height: 11.08px;
}
