@font-face {
  font-family: 'DINPro';
  src: url('./fonts/DINPro.ttf');
}

body {
  margin: 0;
  font-family: DINPro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
